name: Pre-commit

on:
  pull_request:
    branches:
      - master

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Qt tools (for qmlformat)
        run: |
          sudo apt-get update
          sudo apt-get install -y qtdeclarative5-dev-tools

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
